.card {
	border-radius: 5px;
	
}

.column {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.card-header {
	padding: 1rem;
}

.button.is-white.is-outlined.is-focused, .button.is-white.is-outlined.is-hovered, .button.is-white.is-outlined:focus, .button.is-white.is-outlined:hover {
	color: #00d1b2!important;
}
